* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: #ff00ff;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.header > div {
  background-color: #fbb3ff;
  height: 70px;
  margin: 0 10px;
  flex-basis: 140px;
}

.header > :first-child {
  margin-right: auto;
}

.main {
  display: flex;
  justify-content: center;
}

.sidebar {
  background-color: green;
  width: 300px;
}
